<div class="container" id="main">
  <div class="text-center">
    <h1>Synonimizator online</h1>
    <p>Narzędzie do synonimizacji treści przy użyciu spin-tagów.</p>
    <p>Synonimizator online pomaga przy dodawaniu unikalnych treści np do seokatalogów.<br>Ze stworzonego przez Ciebie wcześniej tekstu z synonimami, wybiera je losowo, dzięki czemu wygenerowany opis strony za każdym razem jest inny.</p>
    <p>Skrypt do pobrania na <a href="https://github.com/kamilwyremski/synonimizator" target="_blank" rel="nofollow" title="Synonimizator online na github">https://github.com/kamilwyremski/synonimizator</a></p>
    <p>Instrukcja użycia:</p>
    <p>Różne warianty tytułu strony umieść w kolejnych liniach. Słowa kluczowe oddziel przecinkiem.<br>Opis strony: synonimy umieść w nawiasach klamrowych {{ '{}' }} oddzielająć każdy z nich pionową kreską | czyli np.<br>"Ala ma <span class="text-success">{{ '{' }}kota|kotka|zwierzątko{{ '}' }}</span>. Mieszka w <span class="text-success">{{ '{' }}małym|nie za dużym|niewielkim{{ '}' }}</span> mieście. Ma <span class="text-success">{{ '{' }}brata|jednego brata|rodzeństwo{{ '}' }}</span>".</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="title_input">Tytuł strony</label>
        <textarea id="title_input" class="form-control" [(ngModel)]="titleInput" (change)="generateTitle()"></textarea>
      </div>
      <div class="mb-3">
        <label for="keywords_input">Słowa kluczowe</label>
        <textarea id="keywords_input" class="form-control" [(ngModel)]="keywordsInput" (change)="generateKeywords()"></textarea>
      </div>
      <div class="mb-3">
        <label for="description_input">Opis</label>
        <div [hidden]="descriptionIsEdited" id="description_input_div" class="form-control" [innerHTML]="descriptionInputDiv" (click)="editDescription()" [style.height.px]="descriptionInputHeight"></div>
        <textarea [hidden]="!descriptionIsEdited" id="description_input" class="form-control" [(ngModel)]="descriptionInput" (change)="generateDescription()" (blur)="blurDescription()" #descriptionInputEl></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="title_output">&nbsp;</label>
        <div class="input-group">
          <textarea id="title_output" readonly class="form-control" [(ngModel)]="titleOutput"></textarea>
          <button class="input-group-text btn btn-secondary" (click)="copyTitleToClipboard()">Kopiuj</button>
        </div>
      </div>
      <div class="mb-3">
        <label for="keywords_output">&nbsp;</label>
        <div class="input-group">
          <textarea id="keywords_output" readonly class="form-control" [(ngModel)]="keywordsOutput"></textarea>
          <button class="input-group-text btn btn-secondary" (click)="copyKeywordsToClipboard()">Kopiuj</button>
        </div>
      </div>
      <div class="mb-3">
        <label for="description_output">&nbsp;</label>
        <div class="input-group">
          <textarea id="description_output" class="form-control" readonly [(ngModel)]="descriptionOutput"></textarea>   
          <button class="input-group-text btn btn-secondary" (click)="copyDescriptionToClipboard()">Kopiuj</button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="generateAll()">Generuj</button>
  </div>
</div>	
<div class="alert alert-success fade in show" id="alert_copy_to_clipboard" [hidden]="!alertCopyToClipboard">Pomyślnie skopiowano do schowka</div>
<footer class="text-center">
  <p class="small"><a href="https://blog.wyremski.pl/polityka-prywatnosci/" target="_blank" title="Polityka prywatności serwisu">Polityka prywatności</a> | Project 2019 - 2023 by <a href="http://wyremski.pl" target="_blank" title="Tworzenie Stron Internetowych">Kamil Wyremski</a></p>
</footer>
<cookie-law>Ta strona używa ciasteczek (cookies), dzięki którym nasz serwis może działać lepiej. <a href="https://blog.wyremski.pl/polityka-prywatnosci/" target="_blank" title="Polityka prywatności serwisu">Czytaj więcej</a></cookie-law>