<div class="container" id="main">
  <div class="text-center">
    <h1>Synonimizator online</h1>
    <p>Narzędzie do synonimizacji treści przy użyciu spin-tagów.</p>
    <p>Synonimizator online pomaga przy dodawaniu unikalnych treści np do seokatalogów.<br>Ze stworzonego przez Ciebie wcześniej tekstu z synonimami, wybiera je losowo, dzięki czemu wygenerowany opis strony za każdym razem jest inny.</p>
    <p>Instrukcja użycia:</p>
    <p>Różne warianty tytułu strony umieść w kolejnych liniach. Słowa kluczowe oddziel przecinkiem.<br>Opis strony: synonimy umieść w nawiasach klamrowych {{ '{}' }} oddzielająć każdy z nich pionową kreską | czyli np.<br>"Ala ma <span class="text-primary">{{ '{' }}kota|kotka|zwierzątko{{ '}' }}</span>. Mieszka w <span class="text-primary">{{ '{' }}małym|nie za dużym|niewielkim{{ '}' }}</span> Mieście. Ma <span class="text-primary">{{ '{' }}brata|jednego brata|rodzeństwo{{ '}' }}</span>".</p>
  </div>
  <div class="ads">
    <ng-adsense></ng-adsense>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title_input">Tytuł strony</label>
        <textarea id="title_input" class="form-control" [(ngModel)]="title_input" (change)="generateTitle()"></textarea>
      </div>
      <div class="form-group">
        <label for="keywords_input">Słowa kluczowe</label>
        <textarea id="keywords_input" class="form-control" [(ngModel)]="keywords_input" (change)="generateKeywords()"></textarea>
      </div>
      <div class="form-group">
        <label for="description_input">Opis</label>
        <div [hidden]="descriptionIsEdited" id="description_input_div" class="form-control" [innerHTML]="description_input_div" (click)="editDescription()" [style.height.px]="descriptionInputHeight"></div>
        <textarea [hidden]="!descriptionIsEdited" id="description_input" class="form-control" [(ngModel)]="description_input" (change)="generateDescription()" (blur)="blurDescription()" #descriptionInput></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="title_output">Tytuł strony - wyjście</label>
        <div class="input-group">
          <textarea id="title_output" readonly class="form-control" [(ngModel)]="title_output"></textarea>
          <button class="input-group-text btn btn-secondary" (click)="copyTitleToClipboard();$event.target.blur()">Kopiuj</button>
        </div>
      </div>
      <div class="form-group">
        <label for="keywords_output">Słowa kluczowe - wyjście</label>
        <div class="input-group">
          <textarea id="keywords_output" readonly class="form-control" [(ngModel)]="keywords_output"></textarea>
          <button class="input-group-text btn btn-secondary" (click)="copyKeywordsToClipboard();$event.target.blur()">Kopiuj</button>
        </div>
      </div>
      <div class="form-group">
        <label for="description_output">Opis - wyjście</label>
        <div class="input-group">
          <textarea id="description_output" class="form-control" readonly [(ngModel)]="description_output"></textarea>   
          <button class="input-group-text btn btn-secondary" (click)="copyDescriptionToClipboard();$event.target.blur()">Kopiuj<br>do<br>schowka</button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="generateAll();$event.target.blur()">Generuj</button>
  </div>
  <div class="ads">
    <ng-adsense></ng-adsense>
  </div>
</div>	
<div class="alert alert-success fade in show" id="alert_copy_to_clipboard" [hidden]="!alertCopyToClipboard">Pomyślnie skopiowano do schowka</div>
<footer class="text-center">
  <p class="small"><a href="https://blog.wyremski.pl/polityka-prywatnosci/" target="_blank" title="Polityka prywatności serwisu">Polityka prywatności</a> | Project 2019 by <a href="http://wyremski.pl" target="_blank" title="Tworzenie Stron Internetowych">Kamil Wyremski</a></p>
</footer>
<cookie-law>Ta strona używa ciasteczek (cookies), dzięki którym nasz serwis może działać lepiej. <a href="https://blog.wyremski.pl/polityka-prywatnosci/" target="_blank" title="Polityka prywatności serwisu">Czytaj więcej</a></cookie-law>