body{
    background-image: url("./assets/pexels-lorenzo-241544.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #04121f; 
}